<!doctype html>
<html lang="en">

<head>
    <title>😊😮</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Our CSS -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- In bootstrap all content goes into containers. container has set width, container-fluid would always be full-width -->
    <div class="container" id="VUEAPP">
        <h1>Forms, Bootstrap, & Filters</h1>

        <p>Below is an example of what you can do with Vue list-transitions and a computed value</p>

        <form>
            <div class="form-group row">
                <div class="form-check-inline col">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="optradio" v-model="filter1">A-Z
                    </label>
                </div>
                <div class="form-check-inline col">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="optradio">Option 2
                    </label>
                </div>
                <div class="form-check-inline col">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="optradio">Option 3
                    </label>
                </div>
                <div class="form-check-inline col">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="optradio">Option 4
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label for="searchBox" class="col-form-label"> Filter Results:</label>
                </div>
                <div class="col-10">
                    <input id="searchBox" type="text" class="form-control" v-model="search">
                </div>
            </div>
        </form>

        <!-- Containers can also be nested -->
        <!-- Results -->
        <div class="container">
            <!-- Vue gives us this custom element to give us cool list transitions. 
                This element renders to be another tag, defind by the 'tag' attribute. -->
            <transition-group tag="div" class="row" name="card-list">
                <!-- Each element needs to be keyed, with each key being something unique. V-cloak
                    will hide the mustaches before they are ready to be seen -->
                <div class="col-md-4 col-sm-6" v-for="a,b in list" :key="a.title" v-cloak>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{a.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">{{a.text}}</p>
                            <a :href="a.link" class="card-link">{{a.linkText}}</a>
                        </div>
                    </div>
                </div>
            </transition-group>
        </div>

    </div>



    <!-- Optional JavaScript for Bootstrap components-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

    <!-- AxiosJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
        integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
        crossorigin="anonymous"></script>

    <!-- Lodash JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js" integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww==" crossorigin="anonymous"></script>
    
    <!-- Our JS!! -->
    <script src="script.js"></script>
</body>

</html>